.main{
    background-color: #fff;
    width: 100%;
    height: 20vh;
}
.search{
   
   width: 100%;
   height: 10vh;
   
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
    
    
}


.box input{
    height: 40px;
    width: 90%;
    font-size: large;
    background-color:#f0eded;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    padding-left:20px;
}
.catogaries{
    display: flex;
    flex-direction: row;
    margin: 10px ;
    margin-left: 5px;
}
.veg{
    margin: 0 8px 0 10px;



}
.veg button{
    color: #078209;
    cursor: pointer;
    border-radius: 20px;
    border: #a7c4a7;
    box-shadow: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    height: 30px;
    width: 90px;

    border: 1px solid rgb(187, 182, 182);
}
.veg button:hover {
    background: #e7e7e7;
  }
.best button{
    color:#030303  ;
    cursor: pointer;
    border-radius: 20px;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    height: 30px;
    width: 90px;
    border: 1px solid rgb(187, 182, 182);
}
.best button:hover {
    background: #e7e7e7;
  }
  button img{
    width: 20px;
  }
